.card {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: Ceoma, "Sora", sans-serif;
  display: block;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px auto;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--brand);
}

.cardImageWrap {
  display: flex;
  flex-wrap: wrap;
  background: #f0f0f0;
}

.cardImageWrap img {
  flex: 1 1 100%;
  max-width: 100%;
  height: auto;
}

.cardTitle {
  font-weight: 600;
  display: block;
  color: var(--text);
  text-align: center;
  font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
  padding: 0.925rem 0; /* (sets left/right to 0) */
  font-family: "Montserrat", "Sora", sans-serif;
}
.cardFooter {
  padding: 0 1.875rem; /* (sets top/bottom to 0) */
}

.cardFooterDetails {
  overflow: hidden;

  border-top: 1px solid var(--brand);
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
  padding: 1.55rem 0;
}

.cardPrice {
  font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
  color: var(--brand);
  font-weight: 400;
  padding-left: 0;
  margin-top: 3px;
}

.cardAddBtn {
  display: inline-block;
  margin-left: 5px;
  color: var(--brand);
  transition: 0.3s;
  font-size: clamp(1rem, 0.9273rem + 0.3636vw, 1.2rem);
  padding: 0.4rem;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.cardAddBtn:hover {
  color: #528022;
}
