.card {
  margin: 3rem;
  background-attachment: fixed;
}

.cardBody {
  padding: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 0;
  margin-bottom: 0;
  gap: 5rem;
  justify-content: center;
}

.rightHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.leftHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 25rem;
}

.cardTitle {
  font-weight: 600;
  font-family: "Montserrat";
  text-wrap: wrap;
  font-size: 30px;
  font-size: clamp(1.625rem, 1.5341rem + 0.4545vw, 1.875rem);
  padding: 0;
  margin: 0;
  color: var(--text);
}

.cardImageWrap {
  width: 100%;
  max-width: 25rem;
  margin-inline: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px auto;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--brand);
  background: #f0f0f0;
  aspect-ratio: 1 / 1;
}

.cardImageWrap img {
  width: 100%;
  height: auto;
  display: block;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cardDescriptionWrap {
  margin-top: 1rem;
}

.cardDescription {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
  color: var(--text);
}

.cardPrice {
  color: var(--text);
  font-size: clamp(0.9rem, 0.8273rem + 0.3636vw, 1.1rem);
  font-weight: 600;
}

.cardStock {
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--brand);
}

.rating {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.rating > li {
  display: inline-block;
}

/* Targeting FontAwesome icon class globally */
.rating > li :global(.fa) {
  color: #f7c01b;
}

.ratingSummary > .reviewCount {
  font-size: 0.875rem;
  margin-left: 5px;
  color: var(--text);
}

.card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

.card__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 3px;
  background: var(--brand);
  background: linear-gradient(
    to right,
    var(--brand) 0%,
    var(--brand) 20%,
    #ddd 20%,
    #ddd 100%
  );
}

.decrease,
.increase {
  width: 2.063rem;
  height: 2.063rem;
  background: #f2f2f2;
  border-radius: 0;
  border: none;
  padding: 5px;
  color: #f0f0f0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--brand);
}

.increase {
  padding-top: 5px;
}

.decrease {
  padding-bottom: 1.563rem;
}

.quantityInput {
  height: 1.875rem;
  width: 3.125rem;
  text-align: center;
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  border: none;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  background: #f0f0f0;
}

.quantityInput:focus {
  outline: none;
}

.CartBtn {
  width: 8rem;
  height: 2.5rem;
  border-radius: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;

  position: relative;
  background-color: #669c2a;
  margin-top: 1.7rem;
  color: white;
}

.btnIconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 1.875rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
  padding-bottom: 3px;
}

.btnText {
  height: 100%;
  text-align: center;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.5s;
  font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
}

.CartBtn:hover .btnIconContainer {
  transform: translateX(3.325rem);
  border-radius: 2.5rem;
  transition-duration: 0.5s;
}

.CartBtn:hover,
.increase:hover,
.decrease:hover {
  background-color: #5a8825;
}

.CartBtn:hover .btnText {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

@media (max-width: 768px) {
  .cardBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .rightHalf {
    align-items: center;
    padding-left: 0rem;
  }
}

@media (max-width: 480px) {
  .rating {
    transform: scale(0.75);
  }
}
