@font-face {
  font-family: Is;
  src: url("../../fonts/1.ttf");
}

@font-face {
  font-family: GreenHouse;
  src: url("../../fonts/GreenHouse.otf");
}

.nav {
  padding: 1.5rem;
  overflow: hidden;

  background-color: var(--background);
  padding-block: clamp(0.5rem, 0.1364rem + 1.8182vw, 1.5rem);
  top: 0;
  margin: 0;
}

.desktop__nav {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 100;
}

.nav .list,
a,
.navItem {
  list-style-type: none;
  float: left;
  display: block;
  color: var(--text);
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: clamp(1rem, 0.9273rem + 0.3636vw, 1.2rem);
}

.right {
  gap: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding-top: clamp(rem, 0.6364rem + 1.8182vw, 2rem);
  padding-top: 2rem;
  font-weight: 600;
}

.logoItem .logoLink {
  font-family: Is;
  font-weight: 800;
  font-size: clamp(2.5rem, 1.7727rem + 3.6364vw, 4.5rem);

  letter-spacing: 0.5rem;
  margin: 0;
  color: var(--brand);
}

.logoItem {
  list-style-type: none;
  text-decoration: none;
}

ul {
  padding-left: 0.5rem;
}

.image {
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
}

.orderCount {
  background-color: none;
  color: red;

  width: 0.90625rem;
  height: 0.875rem;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
  background-color: yellow;
  border-radius: 50%;
}

img {
  height: auto;
  width: 100%;
  display: block;
  object-fit: fill;
}

.nav .list:hover {
  color: var(--brand);
  cursor: pointer;
}

.nav a.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav .list {
    display: none;
  }

  .logoItem .logoLink {
    display: block;

    padding-bottom: 6px;
  }

  .right {
    justify-content: center;
    padding-bottom: 1.375rem;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive .list {
    float: none;
    display: block;
    text-align: center;
  }
}
