.Button {
  background-color: #669c2a;
  border: none;
  color: white;

  padding: clamp(0.3rem, 0.2273rem + 0.3636vw, 0.5rem)
    clamp(1rem, 0.9273rem + 0.3636vw, 1.2rem);
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
  border-radius: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease;
  font-weight: 500;
}

.Button:hover {
  background-color: #5a8825;
}
.Button:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.Button:hover:after {
  animation: ripple_401 1s ease-out;
}

.Button:active {
  background-color: #4d7620;
}
