.productsGrid {
  display: grid;
  padding-top: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  grid-auto-flow: row;
  gap: 2.5rem;
  margin: 0 auto;
  margin: 2.5rem;
}

@media (max-width: 720px) {
  .products-grid {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));

    background-color: none;
  }
}
